<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <title>Youlike</title>
</head>
<body>
  <div class="v1_3">
    <a href="news.html" class="v1_91">News</a>
    <div class="v1_6"><a href="youlike.html" class="v1_7">YouLike</a></div>
    <div class="v1_14">
      <a href="home.html" class="v1_15">Home</a>
      <a href="watch_later.html" class="v1_16">Watch Later</a>
      <a href="shorts.html" class="v1_17">Shorts</a>
      <a href="subscriptions.html" class="v1_18">Subscriptions</a>
      <a href="logout.html" class="v1_19">Logout</a>
      <a href="settings.html" class="v1_22">Settings</a>
    </div>
    <a href="published_22_mins_ago_22k_watched.html" class="v1_66">Published 22 mins ago 22k watched</a>
    <div class="v1_67"><a href="watch_now.html" class="v1_68">Watch now</a></div>
    <a href="genshin_impact.html" class="v1_69">Genshin Impact</a>
    <a href="continue_watching.html" class="v1_70">Continue watching</a>
    <a href="popular.html" class="v1_71">Popular</a>
    <div class="v1_72">
      <div class="v1_73">
        <a href="music.html" class="v1_74">Music</a>
        <a href="anime.html" class="v1_75">Anime</a>
        <a href="technology.html" class="v1_76">Technology</a>
      </div>
      <div class="v1_77">
        <a href="sakanaya.html" class="v1_80">Sakanaya</a>
      </div>
    </div>
    <div class="v1_87">
      <a href="tokyo_train_published_10_mins_ago_10k_watched.html" class="v1_90">Tokyo Train published 10 mins ago 10k watched</a>
    </div>
    <!-- Removed redundant content blocks -->
  </div>
</body>
</html>
