<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <title>Youlike</title>
</head>
<body>
  <div class="home-screen">
    <div class="overlap-wrapper">
      <div class="overlap">
        <div class="overlap-group">
          <img class="rectangle" src="img/rectangle-201.png" />
          <div class="text-wrapper">News</div>
          <img class="img" src="img/rectangle-185.png" />
          <div class="group"><p>Youlike</p></div>
          <div class="div">
            <div class="text-wrapper-2">Home</div>
            <div class="text-wrapper-3">Favorites</div>
            <div class="text-wrapper-6">Logout</div>
            <div class="text-wrapper-7">Settings</div>
            <img class="heart" src="img/heart.svg" />
            <img class="film" src="img/film.svg" />
            <img class="sliders" src="img/sliders.svg" />
            <img class="log-out" src="img/log-out.svg" />
          </div>
          <p class="published-mins">Published 22 mins ago<br />22k watched</p>
          <div class="frame"><div class="text-wrapper-8">Watch now</div></div>
          <h1 class="genshin-impact"> Genshin Impact </h1>
          <div class="text-wrapper-9">Continue watching</div>
          <div class="text-wrapper-10">Popular</div>
          <div class="group-2">
            <div class="group-3">
              <div class="text-wrapper-11">Music</div>
              <div class="text-wrapper-12">Anime</div>
              <div class="text-wrapper-13">Technology</div>
            </div>
            <div class="group-4">
              <div class="group-5">
                <img class="ellipse" src="img/ellipse-757.svg" />
                <div class="text-wrapper-14">Sakanaya</div>
              </div>
              <img class="search" src="img/search.svg" />
              <img class="bell" src="img/bell.svg" />
            </div>
          <div class="group-6">
            <div class="rectangle-wrapper"><div class="rectangle-2"></div></div>
            <p class="tokyo-train">
              <span class="span">Tokyo Train<br /></span>
              <span class="text-wrapper-15">published 10 mins ago<br />10k watched</span>
            </p>
          </div>
        </div>
        <div class="group-7">
          <div class="div-wrapper"><div class="rectangle-2"></div></div>
          <p class="tokyo-train">
            <span class="span">Tokyo Train<br /></span>
            <span class="text-wrapper-15">published 10 mins ago<br />10k watched</span>
          </p>
        </div>
        <div class="group-8">
          <div class="overlap-2"><div class="rectangle-2"></div></div>
          <p class="tokyo-train">
            <span class="span">Tokyo Train<br /></span>
            <span class="text-wrapper-15">published 10 mins ago<br />10k watched</span>
          </p>
        </div>
        <div class="group-9">
          <div class="overlap-3"><div class="rectangle-2"></div></div>
          <p class="tokyo-train">
            <span class="span">Tokyo Train<br /></span>
            <span class="text-wrapper-15">published 10 mins ago<br />10k watched</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
