<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <title>Login Page</title>
</head>
<body>
    <div class = "container">
        <form action = ""> 
            <h2>Log in to</h2>
            <h1>Youlike</h1>
            <div class = "input-box">
                <input type = "text" placeholder="Username" required>
                <i class='bx bxs-user-circle'></i>
            </div>
            <div class = "input-box">
                <input type = "text" placeholder="Password" required>
                <i class='bx bxs-key'></i>
            </div>

            <button type="submit" class="button"> Login </button>
            <div class="register">
                <p>Don't have an account?
                    <a href="#"> Register </a>
                </p>
            </div>
        </form>
    </div>
</body>