<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="/stylesheets/results.css" rel="stylesheet" />
    <title>Youlike</title>
</head>
<body>
  <div class="home-screen">
    <div class="overlap-wrapper">
      <div class="overlap">
        <div class="overlap-group">
          <div class="text-wrapper">News</div>
          <img class="img" src="img/rectangle-185.png" />
          <div class="group"><p>Youlike</p></div>
          <div class="div">
            <a href = "/"><div class="text-wrapper-2">Home</div></a>
            <div class="text-wrapper-3">Favorites</div>
            <div class="text-wrapper-6">Logout</div>
            <div class="text-wrapper-7">Settings</div>
            <img class="heart" src="img/heart.svg" />
            <img class="film" src="img/film.svg" />
            <img class="sliders" src="img/sliders.svg" />
            <img class="log-out" src="img/log-out.svg" />
          </div>
          <div class="group-2">
            <div class="group-3">
              <div class="text-wrapper-11">Music</div>
              <div class="text-wrapper-12">Anime</div>
              <div class="text-wrapper-13">Technology</div>
            </div>
            <div class="search-container">
              <form action="/video" method="get" class="search-form">
                <input type="text" name="query" id="search-bar" placeholder="Search Your Videos">
                <button type="submit" id="search-button">
                  <img src="img/search.svg" alt="Search" />
                </button>
              </form>
            </div>
            <div class="group-4">
              <div class="group-5">
                <a href="/login">
                  <img class="ellipse" src="img/ellipse-757.svg"/>
                </a>
                <div class="text-wrapper-14">Sakanaya</div>
              </div>
              <img class="bell" src="img/bell.svg" />
            </div>
          </div>
          

       
        
        
        
      </div>
    </div>
  </div>
</body>
</html>
