<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="/stylesheets/results.css" rel="stylesheet" />
    <title>Youlike</title>
</head>
<body>
  <div class="home-screen">
    <div class="nav-bar">
      <!-- Navigation Bar Content -->
      <div class="group">
        <p>Youlike</p>
      </div>
      <div class="div">
        <div class="text-wrapper-2">Home</div>
        <div class="text-wrapper-3">Favorites</div>
        <div class="text-wrapper-6">Logout</div>
        <div class="text-wrapper-7">Settings</div>
        <img class="heart" src="img/heart.svg" />
        <img class="film" src="img/film.svg" />
        <img class="sliders" src="img/sliders.svg" />
        <img class="log-out" src="img/log-out.svg" />
      </div>
    </div>
    <div class="video-list">
      <!-- Video List Content -->
      <!-- Example of a video item -->
      <div class="video-item">
        <img class="video-thumbnail" src="img/video-thumbnail.jpg">
        <p class="video-title">Video Title</p>
        <p class="video-info">Published 10 mins ago - 10k watched</p>
      </div>
      <!-- Repeat for more videos -->
    </div>
  </div>
</body>
</html>
