<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="/stylesheets/videoList.css" rel="stylesheet" />
    <title>Youlike</title>
</head>
<body>
  <div class="home-screen">
    <img class="rectangle" src="img/rectangle-201.png" />
    <div class="text-wrapper">News</div>
    <img class="img" src="img/rectangle-185.png" />
    <div class="group"><p>Youlike</p></div>
    <div class="div">
    <div class="text-wrapper-2">Home</div>
    <div class="text-wrapper-3">Favorites</div>
    <div class="text-wrapper-6">Logout</div>
    <div class="text-wrapper-7">Settings</div>
    <img class="heart" src="img/heart.svg" />
    <img class="film" src="img/film.svg" />
    <img class="sliders" src="img/sliders.svg" />
    <img class="log-out" src="img/log-out.svg" />
</div>