body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}


.home-screen {
  background-color: #fcf8f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-screen .overlap-wrapper {
  background-color: #fcf8f4;
  width: 1440px;
  height: 870px;
}

.home-screen .overlap {
  position: relative;
  height: 870px;
}

.home-screen .overlap-group {
  position: absolute;
  width: 1440px;
  height: 870px;
  top: 0;
  left: 0;
}

.home-screen .rectangle {
  position: absolute;
  width: 1166px;
  height: 455px;
  top: 0;
  left: 274px;
  object-fit: cover;
}

.home-screen .text-wrapper {
  position: absolute;
  top: 46px;
  left: 633px;
  font-weight: 500;
  color: #808080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.home-screen .img {
  position: absolute;
  width: 366px;
  height: 870px;
  top: 0;
  left: 0;
}

.home-screen .group {
  position: absolute;
  width: 114px;
  height: 18px;
  top: 7px;
  left: 40px;
  font-weight: bolder;
  font-size: 25px;
  color: #ffffff;
}

.home-screen .you-like {
  position: absolute;
  width: 107px;
  height: 17px;
  top: 3px;
  left: 0;
}

.home-screen .div {
  position: absolute;
  width: 156px;
  height: 713px;
  top: 130px;
  left: 40px;
}

.home-screen .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 36px;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .text-wrapper-3 {
  position: absolute;
  top: 59px;
  left: 36px;
  opacity: 0.8;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  white-space: nowrap;
}

.home-screen .text-wrapper-4 {
  position: absolute;
  top: 118px;
  left: 36px;
  opacity: 0.8;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .text-wrapper-5 {
  position: absolute;
  top: 176px;
  left: 36px;
  opacity: 0.8;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .text-wrapper-6 {
  position: absolute;
  top: 689px;
  left: 43px;
  opacity: 0.8;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .text-wrapper-7 {
  position: absolute;
  top: 649px;
  left: 43px;
  opacity: 0.8;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .heart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 59px;
  left: 0;
}

.home-screen .trending-up {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 118px;
  left: 0;
}

.home-screen .calendar {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 176px;
  left: 0;
}

.home-screen .film {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.home-screen .sliders {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 649px;
  left: 9px;
}

.home-screen .log-out {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 689px;
  left: 7px;
}

.home-screen .published-mins {
  position: absolute;
  top: 291px;
  left: 306px;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.home-screen .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  padding: 17px 24px;
  position: absolute;
  top: 348px;
  left: 306px;
  background-color: #ea4d4d;
  border-radius: 14px;
}

.home-screen .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  line-height: 20px;
  color: var(--x-8);
  font-size: 16px;
  letter-spacing: 0;
  white-space: nowrap;
}

.home-screen .genshin-impact {
  position: absolute;
  width: 394px;
  height: 58px;
  top: 227px;
  left: 304px;
  color: #ffffff;
  font-weight: bold;
}

.home-screen .text-wrapper-9 {
  position: absolute;
  top: 800px;
  left: 306px;
  font-weight: 600;
  color: #1e211e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-screen .text-wrapper-10 {
  position: absolute;
  top: 475px;
  left: 306px;
  font-weight: 600;
  color: #1e211e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-screen .group-2 {
  display: flex;
  justify-content: space-between; /* This separates the child elements */
  align-items: center; /* This centers them vertically */
  position: absolute;
  width: 1029px;
  height: 32px;
  top: 44px;
  left: 332px;
}

.home-screen .search-container {
  flex-grow: 1; /* Allows the search container to grow and use up available space */
  display: flex;
  justify-content: center; /* This centers the search form */
}

.home-screen .search-form {
  display: flex;
  align-items: center; /* This aligns the search input and button vertically */
}

#search-bar {
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 8px; /* Adds some space between the input and the button */
  background: transparent;
}

#search-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

#search-button img {
  width: 24px; /* Set image size as needed */
  height: auto; /* Maintains the aspect ratio */
}


.home-screen .group-3 {
  position: absolute;
  width: 271px;
  height: 18px;
  top: 3px;
  left: 0;
}

.home-screen .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  color: #808080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.home-screen .text-wrapper-12 {
  position: absolute;
  top: 0;
  left: 82px;
  font-weight: 500;
  color: #808080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.home-screen .text-wrapper-13 {
  position: absolute;
  top: 0;
  left: 170px;
  font-weight: 500;
  color: #808080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}


.home-screen .group-4 {
  position: absolute;
  width: 218px;
  height: 32px;
  top: 0;
  left: 811px;
}

.home-screen .group-5 {
  position: absolute;
  width: 124px;
  height: 32px;
  top: 0;
  left: 96px;
}

.home-screen .ellipse {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
}

.home-screen .text-wrapper-14 {
  position: absolute;
  top: 5px;
  left: 40px;
  font-weight: 500;
  color: #808080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.home-screen .search {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 0;
}

.home-screen .bell {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 48px;
}

.home-screen .group-6 {
  position: absolute;
  width: 238px;
  height: 231px;
  top: 526px;
  left: 306px;
}

.home-screen .rectangle-wrapper {
  position: absolute;
  width: 238px;
  height: 155px;
  top: -1px;
  left: -1px;
  background-image: url(./img/rectangle-213.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home-screen .rectangle-2 {
  position: relative;
  width: 236px;
  height: 44px;
  top: 110px;
  left: 1px;
  border-radius: 0px 0px 20px 20px;
  backdrop-filter: blur(20px) brightness(100%);
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(0, 148, 194, 0) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.95;
}

.home-screen .tokyo-train {
  position: absolute;
  width: 233px;
  top: 165px;
  left: 3px;
  font-weight: 600;
  color: #1e211e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.home-screen .span {
  font-weight: 600;
  color: #1e211e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.home-screen .text-wrapper-15 {
  font-size: 14px;
}

.home-screen .group-7 {
  position: absolute;
  width: 238px;
  height: 231px;
  top: 526px;
  left: 585px;
}

.home-screen .div-wrapper {
  position: absolute;
  width: 238px;
  height: 155px;
  top: -1px;
  left: -1px;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home-screen .group-8 {
  position: absolute;
  width: 238px;
  height: 231px;
  top: 526px;
  left: 860px;
}

.home-screen .overlap-2 {
  position: absolute;
  width: 238px;
  height: 155px;
  top: -1px;
  left: -1px;
  background-image: url(./img/rectangle-213-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home-screen .group-9 {
  position: absolute;
  width: 238px;
  height: 231px;
  top: 526px;
  left: 1135px;
}

.home-screen .overlap-3 {
  position: absolute;
  width: 238px;
  height: 155px;
  top: -1px;
  left: -1px;
  background-image: url(./img/rectangle-213-3.png);
  background-size: cover;
  background-position: 50% 50%;
}
